[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "fishdata"]
	path = fishdata
	url = https://github.com/condwanaland/fishdata
[submodule "scrobbler"]
	path = scrobbler
	url = https://github.com/condwanaland/scrobbler
[submodule "summariser"]
	path = summariser
	url = https://github.com/condwanaland/summariser
[submodule "verhoeff"]
	path = verhoeff
	url = https://github.com/condwanaland/verhoeff
[submodule "words"]
	path = words
	url = https://github.com/condwanaland/words
